*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.card{
    height: 500px;
    width: 400px;
    box-shadow: 2pc 0px 20px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    

}
.card i{
    font-size: 40px;
    color: rgb(235, 31, 31);
    transform: translate(-50%, -50% ) scale(0);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: transform ease 0.4s;
}